@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.container{
	width: 100%;
	padding: 0 15px;
	margin: auto;
}
.row {
	max-width: 100%;
	padding: 1em 0;
}
.col-1 {
  max-width: 8.333333%;
}
.col-2 {
  max-width: 16.666667%;
}
.col-3 {
  max-width: 25%;
}
.col-4 {
  max-width: 33.333333%;
}
.col-5 {
  max-width: 41.666667%;
}
.col-6 {
  max-width: 50%;
}
.col-7 {
  max-width: 58.333333%;
}
.col-8 {
  max-width: 66.666667%;
}
.col-9 {
  max-width: 75%;
}
.col-10 {
  max-width: 83.333333%;
}
.col-11 {
  max-width: 91.666667%;
}
.col-12 {
  max-width: 100%;
}
/*off some column*/
.col-off1 {
	margin-left: 8.333333%;
}
.col-off2 {
	margin-left: 16.666667%;
}
.col-off3 {
	margin-left: 25%;
}
.col-off4 {
	margin-left: 33.333333%;
}
.col-off5 {
	margin-left: 41.666667%;
}
.col-off6 {
	margin-left: 50%;
}
.col-off7 {
	margin-left: 58.333333%;
}
.col-off8 {
	margin-left: 66.666667%;
}
.col-off9 {
	margin-left: 75%;
}
.col-off10 {
	margin-left: 83.333333%;
}
.col-off11 {
	margin-left: 91.666667%;
}
/*cellphones screen*/
@media (min-width: 576px) {
	.col-s1 {
		max-width: 8.333333%;
	}
	.col-s2 {
		max-width: 16.666667%;
	}
	.col-s3 {
		max-width: 25%;
	}
	.col-s4 {
		max-width: 33.333333%;
	}
	.col-s5 {
		max-width: 41.666667%;
	}
	.col-s6 {
		max-width: 50%;
	}
	.col-s7 {
		max-width: 58.333333%;
	}
	.col-s8 {
		max-width: 66.666667%;
	}
	.col-s9 {
		max-width: 75%;
	}
	.col-s10 {
		max-width: 83.333333%;
	}
	.col-s11 {
		max-width: 91.666667%;
	}
	.col-s12 {
		max-width: 100%;
	}
	.col-off-s1 {
		margin-left: 8.333333%;
	}
	.col-off-s2 {
		margin-left: 16.666667%;
	}
	.col-off-s3 {
		margin-left: 25%;
	}
	.col-off-s4 {
		margin-left: 33.333333%;
	}
	.col-off-s5 {
		margin-left: 41.666667%;
	}
	.col-off-s6 {
		margin-left: 50%;
	}
	.col-off-s7 {
		margin-left: 58.333333%;
	}
	.col-off-s8 {
		margin-left: 66.666667%;
	}
	.col-off-s9 {
		margin-left: 75%;
	}
	.col-off-s10 {
		margin-left: 83.333333%;
	}
	.col-off-s11 {
		margin-left: 91.666667%;
	}
}
/*tablest screen*/
@media (min-width: 768px) {
	.col-m1 {
		max-width: 8.333333%;
	}
	.col-m2 {
		max-width: 16.666667%;
	}
	.col-m3 {
		max-width: 25%;
	}
	.col-m4 {
		max-width: 33.333333%;
	}
	.col-m5 {
		max-width: 41.666667%;
	}
	.col-m6 {
		max-width: 50%;
	}
	.col-m7 {
		max-width: 58.333333%;
	}
	.col-m8 {
		max-width: 66.666667%;
	}
	.col-m9 {
		max-width: 75%;
	}
	.col-m10 {
		max-width: 83.333333%;
	}
	.col-m11 {
		max-width: 91.666667%;
	}
	.col-m12 {
		max-width: 100%;
	}
	.col-off-m1 {
		margin-left: 8.333333%;
	}
	.col-off-m2 {
		margin-left: 16.666667%;
	}
	.col-off-m3 {
		margin-left: 25%;
	}
	.col-off-m4 {
		margin-left: 33.333333%;
	}
	.col-off-m5 {
		margin-left: 41.666667%;
	}
	.col-off-m6 {
		margin-left: 50%;
	}
	.col-off-m7 {
		margin-left: 58.333333%;
	}
	.col-off-m8 {
		margin-left: 66.666667%;
	}
	.col-off-m9 {
		margin-left: 75%;
	}
	.col-off-m10 {
		margin-left: 83.333333%;
	}
	.col-off-m11 {
		margin-left: 91.666667%;
	}
}
/*desktop screen*/
@media (min-width: 992px) {
	.col-l1 {
		max-width: 8.333333%;
	}
	.col-l2 {
		max-width: 16.666667%;
	}
	.col-l3 {
		max-width: 25%;
	}
	.col-l4 {
		max-width: 33.333333%;
	}
	.col-l5 {
		max-width: 41.666667%;
	}
	.col-l6 {
		max-width: 50%;
	}
	.col-l7 {
		max-width: 58.333333%;
	}
	.col-l8 {
		max-width: 66.666667%;
	}
	.col-l9 {
		max-width: 75%;
	}
	.col-l10 {
		max-width: 83.333333%;
	}
	.col-l11 {
		max-width: 91.666667%;
	}
	.col-l12 {
		max-width: 100%;
	}
	.col-off-l1 {
		margin-left: 8.333333%;
	}
	.col-off-l2 {
		margin-left: 16.666667%;
	}
	.col-off-l3 {
		margin-left: 25%;
	}
	.col-off-l4 {
		margin-left: 33.333333%;
	}
	.col-off-l5 {
		margin-left: 41.666667%;
	}
	.col-off-l6 {
		margin-left: 50%;
	}
	.col-off-l7 {
		margin-left: 58.333333%;
	}
	.col-off-l8 {
		margin-left: 66.666667%;
	}
	.col-off-l9 {
		margin-left: 75%;
	}
	.col-off-l10 {
		margin-left: 83.333333%;
	}
	.col-off-l11 {
		margin-left: 91.666667%;
	}
}
/*big screen*/
@media (min-width: 1200px) {
	.col-b1 {
		max-width: 8.333333%;
	}
	.col-b2 {
		max-width: 16.666667%;
	}
	.col-b3 {
		max-width: 25%;
	}
	.col-b4 {
		max-width: 33.333333%;
	}
	.col-b5 {
		max-width: 41.666667%;
	}
	.col-b6 {
		max-width: 50%;
	}
	.col-b7 {
		max-width: 58.333333%;
	}
	.col-b8 {
		max-width: 66.666667%;
	}
	.col-b9 {
		max-width: 75%;
	}
	.col-b10 {
		max-width: 83.333333%;
	}
	.col-b11 {
		max-width: 91.666667%;
	}
	.col-b12 {
		max-width: 100%;
	}
	.col-off-l1 {
		margin-left: 8.333333%;
	}
	.col-off-l2 {
		margin-left: 16.666667%;
	}
	.col-off-l3 {
		margin-left: 25%;
	}
	.col-off-l4 {
		margin-left: 33.333333%;
	}
	.col-off-l5 {
		margin-left: 41.666667%;
	}
	.col-off-l6 {
		margin-left: 50%;
	}
	.col-off-l7 {
		margin-left: 58.333333%;
	}
	.col-off-l8 {
		margin-left: 66.666667%;
	}
	.col-off-l9 {
		margin-left: 75%;
	}
	.col-off-l10 {
		margin-left: 83.333333%;
	}
	.col-off-l11 {
		margin-left: 91.666667%;
	}
}