header{
    width: 100%;
    background-color: #69F0AE;
}
header nav ul{
    display: inline-flex;
    align-items: flex-end;
}
header nav ul li{
    margin-left: 5%;
}
header nav ul li a{
    font-size: 1.4em;
    font-weight: bold;
    color: #292E40;
}