@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
*{
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}
html, body, #root{
	min-height: 100%;
}
body{
    background: url(../../assets/img/backgroundSchool.jpg) no-repeat;
    background-size: cover;
}
.logoSchool{
    width: 100%;
}
#login-card{
    margin-top: 20%;
}
#signup{
    margin-top: 1em;
    color: #4d4d4d;
}
#signup > p{
    font-size: 1.2em;
}
#createaccount{
    color: inherit;
    font-weight: bold;
}
#loginBtn{
    font-size: 1.3em;
    font-weight: bold;
	letter-spacing: 2px;
	background: #042954;
}